.jumbotron {
  margin-top: 10px;
  min-height: 300px;
  background-image: url(Images/toronto.jpg);
  background-size: cover;
  background-color: #337ab7;
  padding-top:0;
  text-align: left;
  color: rgb(226, 70, 23);
  box-shadow: 0 8px 16px -6px rgb(255, 255, 255);
}
.jumbotron>.h1 {
  margin-top: 120px;
  font-family: Arial;
  text-align: center;
  font-size: 40px;
  font-weight: 540;
  line-height: 1.2;
}
body {
    background-color: rgb(237, 237, 237);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 14px;
    /* background-position: center;
    background-size: cover;
    line-height: 1.42857143;     */
}

/* navbar styling*/
.navbar-brand {
  margin-left: 10px;
  color: white;
  padding: 8px;
  /* background-color: #684FA3; */
  Font-Family: 'Bree Serif', Serif;
  font-size: 25px;
  font-weight: bold;
}

.navbar{
  background-color: #C1BBDD;
  padding-top:0px;
  padding-bottom: 0px;

}



.title {
  /* Font-Family: 'Merriweather', Serif; */
  Font-Family: 'Bree Serif', Serif;
  color: rgb(255, 255, 255);
  margin-top: 0px;
  background-color: #82b8ad;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  width: 1170px;
}
 /* About */
.about {
  font-size: 18px;
  Font-Family: 'Alegreya', Serif;
  /* color: rgb(138, 16, 16); */
  line-height: 1.7;
  text-align: justify;
  text-justify: inter-word;
  padding-right: 30px;
  /* background-color: #6B3074; */
  padding: 20px;
}
p {
  font-size: 18px;
  /* Font-Family: 'Muli', Sans-Serif; */
  Font-Family: 'Alegreya', Serif;
  color: gray;
}

h2{
  font-size: 25px;
  font-weight: bold;
  color: #684FA3;
  /* Font-Family: 'Merriweather', Serif; */
  Font-Family: 'Bree Serif', Serif;
}

h3{
  font-size: 10px;
  font-weight: bold;
  /* Font-Family: 'Merriweather', Serif; */
  Font-Family: 'Muli', Sans-Serif;
}

h5{
  font-size: 12px;
  font-weight: bold;
  Font-Family: 'Muli', Sans-Serif;
}

.card-body>p {
  font-size: 13px;
  Font-Family: 'Muli', Sans-Serif;
}

.plotsection {
  padding-bottom: 20px;
}

.scattersection {
  padding: 20px;
}
/* h2{
  color: rgb(0, 0, 0);
  font-size: 15px;
} */
#map,
body,
html {
height: 100%;
}
#map{
height: 500px;
  }

h1 {
text-align: center;
}
  /* Footer */
.footerstyle {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px;
    background: #684FA3;
    font-size: 15px;
    color: white;
    Font-Family: 'Muli', Sans-Serif;
    text-align: center;
}
/* p {
font-size: 12px;
color: rgb(19, 4, 87);
} */